code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 500px) {
  body {
    background-color: aqua;
    display: flex;
    justify-content: center;
  }
}
